.my-helper {
    display: flex;
    align-items: center;
    padding: auto;
    cursor: pointer;
    color: grey;
    width: max-content;
}

.input-field .helper-text.toglehide {
    display: none;
}

.padding-right {
    float: right;
}

.tab-content {
    padding: 10px;
}